@icomoon-font-path: "../icon/bim/fonts";

@bim-toolbar-decomposition-model: "\e909";
@bim-toolbar-length-measurement: "\e90a";
@bim-toolbar-dynamic: "\e900";
@bim-toolbar-dynamic2: "\e901";
@bim-toolbar-translation: "\e902";
@bim-toolbar-empty: "\e903";
@bim-toolbar-fullscreen: "\e904";
@bim-toolbar-fullscreen2: "\e905";
@bim-toolbar-attr: "\e906";
@bim-toolbar-reset: "\e907";
@bim-toolbar-organize: "\e908";

