.slide-bar{
    position: absolute;left: -100%;bottom: 0;z-index:99999;width:323px;height:100%;background:rgba(0,0,0,0.11);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &.open{
        left: 0;
    }
    .slide-bar_header{
        position: relative;width:100%;background:#666;padding:8px 20px 9px 20px;
        .slide-bar_headeritem{
            display:inline-block; color:#fff;padding:3px 8px;border-radius:5px;
            &:hover{
                background:#88b34a;
            }
        }
        .close_slider{
            position: absolute;top:8px;right:20px;
        }
        .title{
            display: inline-block;margin:0;font-size:16px;color:#fff;line-height:28px;
        }
    }
    .slide-bar_body{
        width:100%; overflow:auto;
    }
}
