.right_Menu{
    position: absolute;visibility: hidden;top: 0;padding: 8px;text-align: left;
    border: 1px solid #cecece;background-color: #FFFFFF;border-radius: 5px;
    ul {
           background-color: #FFFFFF;margin-bottom: 0px;
           li {
                padding: 2px 8px;font-size: 14px;cursor: pointer;list-style: none outside none;
                background-color: #FFFFFF;text-align: center;border-bottom:1px solid #ddd;
                &:hover {
                    background-color: #88b34a;color: #FFFFFF
                }
                &:last-child{
                    border-bottom: 0px;
                }
            }
       }
       .mboder {
            border-bottom: 1px solid #cecece
        }
}
